<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Add Movie</title>
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/layout.css">
    <script src="/javascript/movieValidation.js"  type="application/javascript" defer></script>
</head>
<main layout:fragment="content">
<body>
    <h1 th:text="#{app.titleAddMovie}"></h1>
    <form novalidate th:action="@{/addMovie}" th:object="${movie}" method="post">
            <label for="title" th:text="#{app.title}"></label>
            <input type="text" id="title" th:field="*{title}" required/>
            <span id="title_error"></span>

            <label for="director" th:text="#{app.director}"></label>
            <input type="text"  id="director" th:field="*{director}" required/>
            <span id="director_error"></span>

            <label for="price" th:text="#{app.price}"></label>
            <input type="number" id="price" th:field="*{price}" required/>
            <span id="price_error"></span>

            <label for="description" th:text="#{app.description}"></label>
            <textarea id="description" th:field="*{description}" required></textarea>
            <span id="description_error"></span>

        <button type="submit" th:text="#{app.addMovie}"></button>
        <span id="anyError"></span>
    </form>

    <div>
        <a class="home-btn" href="/" th:text="#{app.home}"></a>
        <a class="admin-btn" href="/adminPage" th:text="#{app.adminPage}"></a>
    </div>
</body>
</main>
</html>