<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/layout.css">
</head>
<main layout:fragment="content">
<body>
    <h1 th:text="#{app.adminPage}"></h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="#{app.firstname}"></th>
            <th th:text="#{app.lastname}"></th>
            <th th:text="#{app.email}"></th>
            <th th:text="#{app.action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userEmails}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a class="delete-btn"
                   th:href="@{/adminPage/deleteUser(email=${user.email})}"
                   th:text="#{app.delete}">
                </a>
                <a class="edit-btn"
                   th:href="@{/adminPage/editUser(email=${user.email})}"
                   th:text="#{app.edit}">
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{/adminPage?page=__${currentPage - 1}__}"
           th:if="${currentPage > 0}"
           th:text="#{app.previous}">Previous</a>

        <span th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages}"></span>

        <a th:href="@{/adminPage?page=__${currentPage + 1}__}"
           th:if="${currentPage < totalPages - 1}"
           th:text="#{app.next}">Next</a>
    </div>
    <br><br>

    <a class="home-btn" href="/" th:text="#{app.back}"></a>
    <a class="details-btn" href="/adminPage/allRecords" th:text="#{app.allRecords}"></a>
</body>
</main>
</html>