<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>All Orders</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/movie.css">
</head>
<main layout:fragment="content">
    <body>
    <h1 th:text="#{app.allOrders}"></h1>
    <div id="xx" style="overflow-x:scroll">
    <table>
        <thead>
        <tr>
            <th colspan=9 th:text="#{app.orderDetails}"></th>
            <th colspan="4" th:text="#{app.movieDetails}"></th>
            <th colspan="4" th:text="#{app.userDetails}"></th>
        </tr>
        <tr>
            <th>Id</th>
            <th th:text="#{app.orderDate}"></th>
            <th th:text="#{app.firstname}"></th>
            <th th:text="#{app.lastname}"></th>
            <th th:text="#{app.price}"></th>
            <th th:text="#{app.email}"></th>
            <th th:text="#{app.address}"></th>
            <th th:text="#{app.city}"></th>
            <th th:text="#{app.cardnumber}"></th>

            <th th:text="#{app.title}"></th>
            <th th:text="#{app.director}"></th>
            <th th:text="#{app.price}"></th>
            <th th:text="#{app.isAvailable}"></th>

            <th th:text="#{app.firstname}"></th>
            <th th:text="#{app.lastname}"></th>
            <th th:text="#{app.email}"></th>
            <th th:text="#{app.role}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movieOrder : ${orders}">
            <td th:text="${movieOrder.id}"></td>
            <td th:text="${movieOrder.orderDate}"></td>
            <td th:text="${movieOrder.firstName}"></td>
            <td th:text="${movieOrder.lastName}"></td>
            <td th:text="${movieOrder.price}"></td>
            <td th:text="${movieOrder.email}"></td>
            <td th:text="${movieOrder.address}"></td>
            <td th:text="${movieOrder.city}"></td>
            <td th:text="${movieOrder.card_Number}"></td>

            <td th:text="${movieOrder.movie.title}"></td>
            <td th:text="${movieOrder.movie.director}"></td>
            <td th:text="${movieOrder.movie.price}"></td>
            <td th:text="${movieOrder.movie.isAvailable}"></td>

            <td th:text="${movieOrder.user.firstName}"></td>
            <td th:text="${movieOrder.user.lastName}"></td>
            <td th:text="${movieOrder.user.email}"></td>
            <td th:text="${movieOrder.user.role}"></td>
        </tr>
        </tbody>
    </table>
    </div>

    <div>
        <a th:href="@{/adminPage/allRecords?page=__${currentPage - 1}__}"
           th:if="${currentPage > 0}"
           th:text="#{app.previous}"></a>

        <span th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages}"></span>

        <a th:href="@{/adminPage/allRecords?page=__${currentPage + 1}__}"
           th:if="${currentPage < totalPages - 1}"
           th:text="#{app.next}"></a>
    </div>

    <br><br>
    <a class="home-btn" href="/" th:text="#{app.back}"></a>
    <a class="admin-btn" href="/adminPage" th:text="#{app.adminPage}"></a>
    </body>
</main>
</html>
