<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link rel="stylesheet" href="/form.css">
    <link rel="stylesheet" href="/layout.css">
</head>
<main layout:fragment="content">
<body>
<h1>Edit User</h1>
<div th:if="${user}">
    <h2>Email: <span th:text="${user.email}"></span></h2>
    <h3>Current Role: <span th:text="${user.role}"></span></h3>

    <form action="/adminPage/editUser" method="post" th:action="@{/adminPage/editUser}">
        <input type="hidden" name="email" th:value="${user.email}" />
        <label>Change role</label>
        <select name="role" required>
            <option value="ADMIN">Admin</option>
            <option value="EMPLOYEE">Employee</option>
            <option value="CLIENT">Client</option>
            <option value="GUEST">Guest</option>
        </select>
        <button type="submit">Update Role</button>
    </form>
    <a class="home-btn" href="/adminPage" role="button">Go Back</a>
</div>
</body>
</main>
</html>
