<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Movie Store</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/layout.css">
</head>
<main layout:fragment="content">
<body>
    <h1 th:text="#{app.titleList}"></h1>
    <table>
        <thead>
        <tr>
            <th th:text="#{app.director}"></th>
            <th th:text="#{app.title}"></th>
            <th th:text="#{app.price}"></th>
            <th th:text="#{app.isAvailable}"></th>
            <th th:text="#{app.action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.price}"></td>
            <td th:text="${movie.isAvailable}"></td>
            <td>
                <a class="details-btn" th:href="@{'/movie?id=' + ${movie.id}}" role="button" th:text="#{app.details}"></a>
                <a class="home-btn" th:if="${movie.isAvailable}"
                   th:href="@{'/orderMovie?id=' + ${movie.id}}"
                   role="button" th:text="#{app.order}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <a th:href="@{/?page=__${currentPage - 1}__}"
           th:if="${currentPage > 0}"
           th:text="#{app.previous}">Previous</a>

        <span th:text="'Page ' + (${currentPage + 1}) + ' of ' + ${totalPages}"></span>

        <a th:href="@{/?page=__${currentPage + 1}__}"
           th:if="${currentPage < totalPages - 1}"
           th:text="#{app.next}">Next</a>
    </div>
    <br><br>

    <div>
<!--        <a class="details-btn" href="/displayFullTable" th:text="#{app.displayFull}"></a>-->
        <a class="add-btn" href="/addMovie" th:text="#{app.addMovie}"></a>
        <a class="admin-btn" href="/adminPage" th:text="#{app.adminPage}"></a>
        <a class="home-btn" href="/orders" th:text="#{app.orderList}"></a>
    </div>
</body>
</main>
</html>