<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <link rel="stylesheet" href="/movie.css">
    <link rel="stylesheet" href="/layout.css">
</head>
<main layout:fragment="content">
<body>
<div th:if="${movie}">
    <h1>Movie Details</h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Director</th>
                <th>Title</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${movie.id}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.price}"></td>
                <td>
                    <a class="delete-btn" th:href="@{/deleteMovie(id=${movie.id})}" role="button">Delete this movie</a>
                    <a class="edit-btn" th:href="@{/editMovie(id=${movie.id})}" role="button">Edit this movie</a>
                </td>
            </tr>
            </tbody>
        </table>
</div>
<div>
    <a class="add-btn" href="/">Home</a>
    <a class="admin-btn" href="/adminPage">Admin Page</a>
</div>
</body>
</main>
</html>