<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
    <link rel="stylesheet" href="/movie.css">
    <link rel="stylesheet" href="/layout.css">
</head>
    <main layout:fragment="content">
<body>
<div th:if="${movie}" class="movie-container">
    <h1 th:text="#{app.titleDetails}"></h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th th:text="#{app.director}"></th>
                <th th:text="#{app.title}"></th>
                <th th:text="#{app.price}"></th>
                <th th:text="#{app.description}"></th>
                <th th:text="#{app.isAvailable}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${movie.id}"></td>
                <td th:text="${movie.director}"></td>
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.price}"></td>
                <td th:text="${movie.description}"></td>
                <td th:text="${movie.isAvailable}"></td>
            </tr>
            </tbody>
        </table>
    <a class="home-btn" th:if="${movie.isAvailable}"
       th:href="@{'/orderMovie?id=' + ${movie.id}}"
       role="button" th:text="#{app.order}"></a>
    <a class="delete-btn" th:href="@{/deleteMovie(id=${movie.id})}" role="button" th:text="#{app.delete}"></a>
    <a class="edit-btn" th:href="@{/editMovie(id=${movie.id})}" role="button" th:text="#{app.edit}"></a>
</div>
<div>
    <a class="add-btn" href="/" th:text="#{app.home}"></a>
    <a class="admin-btn" href="/adminPage" th:text="#{app.adminPage}"></a>
</div>
</body>
</main>
</html>