<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Order Movie</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/form.css">
</head>
<main layout:fragment="content">
<body>
    <div th:if="${movie}">
    <h1>Order Movie</h1>
        <form th:action="@{/orderMovie}" method="post" th:object="${movieOrder}">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" name="movieId" th:value="${movie.id}" />

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" required>
<!--            <label for="email">Email:</label>-->
<!--            <input type="email" id="email"  th:field="*{email}" required>-->
            <label for="address">Address:</label>
            <input type="text" id="address" th:field="*{address}" required>
            <label for="city">City:</label>
            <input type="text" id="city"  th:field="*{city}" required>
            <label for="cardNumber">Card Number:</label>
            <input type="text" id="cardNumber" th:field="*{card_Number}" required>

            <button type="submit">Confirm Order</button>

        </form>
    </div>
    <div th:unless="${movie}">
        <h1>Movie wasn't found </h1>
    </div>
</body>
</main>
</html>