<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Order Movie</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/form.css">
    <script src="/javascript/orderValidation.js"  type="application/javascript" defer></script>
</head>
<main layout:fragment="content">
<body>
    <div th:if="${movie}">
    <h1 th:text="#{app.titleOrder}"></h1>
        <form novalidate th:action="@{/orderMovie}" method="post" th:object="${movieOrder}">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" name="movieId" th:value="${movie.id}" />

            <input type="hidden" name="customerEmail" th:value="${customerEmail}" />

            <label for="firstName" th:text="#{app.firstname}"></label>
            <input type="text" id="firstName" th:field="*{firstName}" required>
            <span id="firstName_error"></span>

            <label for="lastName" th:text="#{app.lastname}"></label>
            <input type="text" id="lastName" th:field="*{lastName}" required>
            <span id="lastName_error"></span>

            <label for="email" th:text="#{app.email}"></label>
            <input type="email" id="email"  th:field="*{email}" required>
            <span id="email_error"></span>

            <label for="address" th:text="#{app.address}"></label>
            <input type="text" id="address" th:field="*{address}" required>
            <span id="address_error"></span>

            <label for="city" th:text="#{app.city}"></label>
            <input type="text" id="city"  th:field="*{city}" required>
            <span id="city_error"></span>

            <label for="cardNumber" th:text="#{app.cardnumber}"></label>
            <input type="text" id="cardNumber" th:field="*{card_Number}" placeholder="XXXX-XXXX-XXXX-XXXX" required>
            <span id="cardNumber_error"></span>

            <button type="submit" th:text="#{app.submit}"></button>
            <span id="anyError"></span>
        </form>
        <a class="home-btn" href="/" th:text="#{app.back}"></a>
    </div>
    <div th:unless="${movie}">
        <h1 th:text="#{app.notfound}"></h1>
        <a class="home-btn" href="/" th:text="#{app.back}"></a>
    </div>
</body>
</main>
</html>