.logo{
    height: 10vh;
    flex: auto;
}

.footer {
    position: relative;
}

.container{
    margin: auto;
    width: 70%;
    text-align: center;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(110deg, darkred, white);
    text-align: center;
}

h1{
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}

.home-btn{
    background-color: black;
}

.add-btn{
    background-color: darkgreen;
}

.logout-btn{
    background-color: darkred;
}

.admin-btn{
    background-color: darkkhaki;
}

.details-btn{
    background-color: darkblue;
}

.edit-btn{
    background-color: darkorange;
}

.delete-btn{
    background-color: darkred;
}