body{
    background: linear-gradient(90deg, mediumpurple, dodgerblue);
}

h1{
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px;
}
th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: whitesmoke;
}

tr:hover {
    background-color: aliceblue;
}

a{
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
}

.delete-btn{
    background-color: darkred;
}

.edit-btn{
    background-color: darkorchid;
}

.admin-btn{
    background-color: darkkhaki;
}

.add-btn{
    background-color: darkgreen;
}

.logout-btn{
    background-color: darkred;
}
